NACOS_DB_NAME=nacos_config
NACOS_DB_USER=root
NACOS_DB_PASSWORD=rootroot

NACOS_CONSOLE_PORT=8848
NACOS_GRPC_PORT=9848
GATEWAY_PORT=8000

NACOS_AUTH_ENABLE=false
NACOS_AUTH_IDENTITY_KEY=mvpNacosIdentityKey
NACOS_AUTH_IDENTITY_VALUE=mvpNacosIdentityValue
NACOS_AUTH_TOKEN=TXZwTmFjb3NBdXRoVG9rZW5DaGFuZ2VNZTIwMjZNdXN0QmVMb25nRW5vdWdo
